<div class="price-scale">
    <div class="container">
    	<div class="row section-title">
    		<h1 class="title-text">
				<%= @procedure_name %>
			</h1>
		</div>
		<div class="row section-content">
			<div class="row speech-bubble-display">
				<span class="speech-bubble" style="left: <%= @left %>px">National Average: <%= @average_price %></span>
			</div>
			<div class="row scale-data">
				<div class="col-xs-3 low-price">
					<%= @low_price %>
				</div>
				<div class="col-xs-2 scale-left-cell"></div>
				<div class="col-xs-2 scale-center-cell"></div>
				<div class="col-xs-2 scale-right-cell"></div>
				<div class="col-xs-3 high-price">
					<%= @high_price %>
				</div>
			</div>
		</div>
	</div>  
</div>
<div class="map-data">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="map-container" style='width: 100%;'>
				  <div id="map" style='width: 100%; height: 400px;'></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Scripts -->
<script src="//maps.google.com/maps/api/js?key=<%= @google_maps_key %>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
	handler = Gmaps.build('Google');
	handler.buildMap({
	    provider: {
	      disableDefaultUI: true
	      // pass in other Google Maps API options here
	    },
	    internal: {
	      id: 'map'
	    }
	  },
	  function(){
	    markers = handler.addMarkers([
	      {
	        "lat": 40.441770,
	        "lng": -80.012238,
	        "infowindow": "hello!"
	      }
	    ]);
	    handler.bounds.extendWith(markers);
	    handler.fitMapToBounds();
	  }
	);
</script>